.vi-bg{
position: fixed;
top: 8;
left: 0;
height: 100vh;
width: 100vw;
object-fit: cover;
z-index: -1;
}


.content {
z-index: 10;
color: white;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;}
