#calculator {
    border: 2px solid black;
    height: 530px;
    width: 400px;
    margin-left:32%;
    margin-top:40px;
    background-color:rgb(224, 224, 229) ;
}
input{
width:350px;
height:60px;
margin-left:24px;
margin-top:20px;
background-color: rgb(170, 170, 174);
}
#grid-cal{
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(4,70px);
    gap:10px;
    padding:25px;
    margin-bottom:10px;
    font-size:x-large;
}
.equalit{
    grid-row:span 4;
    background-color:rgb(123, 163, 238);
    font-size:x-large;
}
.lit{
    width:80px;
    height:70px;
    font-size:x-large;

}
.iit{
    background-color: rgb(155, 144, 170);
    font-size:x-large;

}
.it{
    font-size:x-large;

}