*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background 0.3 ease,color 0.3s ease;
    background-color: #f5f5f5;
    color:#222;
    font-family: Arial;
}
body.dark{
    background: #121212;
    color:#ccc;
}
body.dark .toogle-card{
    background: rgba(20,20,20,0.9);
    box-shadow: 0px 4px 18px rgba(0,0,0,0,7) ;

}
.toogle-card{
    padding:20px 50px;
    background:#f5f5f5;
    text-align: center;
    border:2px solid black;
    border-radius: 10px;
    border:none;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 4px 18px rgb(0,0,0,0.25);
}
button{
    padding:10px 10px;
    border:none;
    margin:10px;
    border-radius: 8px;
    font-size: 14px;
    cursor:pointer;
    transition: transform 0.3s ease;
}
button:hover{
    transform: translateY(-2px);
}
.button-grp{
    display: flex;
    justify-content: center;
}
.lig-but{
    background:#ffff;
    border:1px solid #ccc;
}
.dar-but{
    background: #222;
    color:#fff;
}